*{
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;
  height: 100vh;
  background: linear-gradient(75deg,white, skyblue);
}
main {
  display: flex;
  flex-direction: column;

}
ul li,h2 {
  margin-top: 10px;
}
